
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* OMBI ORGANIZR-DARK THEME */
@import url(https://taylorcox75.github.io/theme.park/CSS/themes/ombi/ombi-base.css);
:root {
  --main-bg-color: #ff0000;
  --modal-bg-color: #ff0000;
  --request-button: #ff0000;
  --request-button-hover: rgb(255 0 0  / .5);
  --loading-bar: #ff0000; 
  --accent-color: #ff0000;
  --label-color: #ff0000;
}
